{
    "parser": "babel-eslint",
    "env": {
        "browser": true,
        "es6":true,
        "node": true
    },
    "parserOptions": {
        "ecmaVersion": 6,
        "sourceType": "module"
    },
    "extends": "airbnb",
    "rules": {
        "semi": [0],
        "quotes": [1, "double"],
        "indent": ["warn", 4],
        "react/jsx-indent": ["warn", 4],
        "react/jsx-filename-extension": [0],
        "import/no-unresolved": [0]
    }
}
